html, body{
  width:100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 2em 0 .5em 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: #0E5077;
  font-size: 2em;
  line-height: 1.4em;
}

h2 {
  color: #fff;
  font-size: 2em;
}

h3 {
  color: #52AADE;
  font-size: 1.8em;
  margin-bottom: 0;
}

h4 {
  color: #52AADE;
  font-size: 0.6em;
  margin-top: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

form {
  display: inline;
}

label {
  color: #fff;
  font-size: .7em;
  font-weight: bold;
  display: block;
  clear: left;
  text-align: left;
  width: 100%;
}

input, textarea {
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  margin-bottom: 20px;
  border: none;
}

input[type=submit] {
  background-color: #fff;
  border: 1px solid #fff;
}

input[type=submit]:hover {
  background-color: #0E5077;
  color: #fff;
}

input[type=submit]:active {
  border: 1px solid #fff;
}

.projects {
  display: flex;
}

.project {
  margin: 0 3em 0 3em;
  flex: 1;
}

.project_mair {
  background:url(../img/johnmair_website.png) 0 0 no-repeat;
  background-size: 100%;
  height:200px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;  color: #fff;
  -webkit-transition: background-position 8s ease-in-out;
  -moz-transition: background-position 8s ease-in-out;
  -ms-transition: background-position 8s ease-in-out;
  -o-transition: background-position 8s ease-in-out;
  transition: background-position 8s ease-in-out;
}

.project_craze {
  background:url(../img/crazedance_website.png) 0 0 no-repeat;
  background-size: 100%;
  height:200px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;  color: #fff;
  -webkit-transition: background-position 8s ease-in-out;
  -moz-transition: background-position 8s ease-in-out;
  -ms-transition: background-position 4s ease-in-out;
  -o-transition: background-position 8s ease-in-out;
  transition: background-position 8s ease-in-out;
}

.project_tatts {
  background:url(../img/tatts_website.png) 0 0 no-repeat;
  background-size: 100%;
  height:200px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;  color: #fff;
  -webkit-transition: background-position 8s ease-in-out;
  -moz-transition: background-position 8s ease-in-out;
  -ms-transition: background-position 8s ease-in-out;
  -o-transition: background-position 8s ease-in-out;
  transition: background-position 8s ease-in-out;
}

.project_texas {
  background:url(../img/texasangus_website.png) 0 0 no-repeat;
  background-size: 100%;
  height:200px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;  color: #fff;
  -webkit-transition: background-position 8s ease-in-out;
  -moz-transition: background-position 8s ease-in-out;
  -ms-transition: background-position 8s ease-in-out;
  -o-transition: background-position 8s ease-in-out;
  transition: background-position 8s ease-in-out;
}

.project_liberty {
  background:url(../img/website_liberty.png) 0 0 no-repeat;
  background-size: 100%;
  height:200px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;  color: #fff;
  -webkit-transition: background-position 8s ease-in-out;
  -moz-transition: background-position 8s ease-in-out;
  -ms-transition: background-position 8s ease-in-out;
  -o-transition: background-position 8s ease-in-out;
  transition: background-position 8s ease-in-out;
}

.project_senator {
  background:url(../img/website_senator.png) 0 0 no-repeat;
  background-size: 100%;
  height:200px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;  color: #fff;
  -webkit-transition: background-position 8s ease-in-out;
  -moz-transition: background-position 8s ease-in-out;
  -ms-transition: background-position 8s ease-in-out;
  -o-transition: background-position 8s ease-in-out;
  transition: background-position 8s ease-in-out;
}
.project_mair:hover {
    background-position:0px 100%;
}

.project_craze:hover {
    background-position:0px 100%;
}

.project_tatts:hover {
    background-position:0px 100%;
}

.project_texas:hover {
    background-position:0px 100%;
}

.project_liberty:hover {
    background-position:0px 100%;
}

.project_senator:hover {
    background-position:0px 100%;
}

.projects h2 {
  color: #0E5077;
}

.projects li {
  line-height: 1.5em;
}

.container {
  padding: 0;
  width: 100%;
  margin: auto;
  text-align: center;
}

.introContainer {
  padding: 10% 15% 15% 15%;
}

.introContainer li {
  display: inline;
}

.imageMatt {
  width: 50%;
  border-radius: 50%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.whiteContainer {
  padding: 15% 2% 15% 2%;
  color: #0E5077;
  background: #ffffff;
}

.whiteContainer h2 {
  color: #0E5077;
}

.blueContainer {
  padding: 10% 5% 10% 5%;
  color: #ffffff;
  background: #0E5077;
  transform: skewY(3deg);
}

.blueContainer h5 {
  transform: skewY(-3deg);
}

.blueContainer a {
  text-decoration: none;
  color: #52AADE;
}

.whiteContainer a {
  text-decoration: none;
  color: #52AADE;
}

.whiteContainer h3 {
  color: #0E5077;
  font-size: 1.2em;
  padding: 4em 2em 1em 2em;;
}

.blueContainer a:hover {
  text-decoration: underline;
}

.footerContainer {
  padding: 5% 5% 5% 5%;
  color: #0E5077;
}

.about {
  transform: skewY(-3deg);
}

.contactContainer {
  padding: 10% 20% 10% 20%;
  color: #fff;
  background: #0E5077;
}

.g-recaptcha {
  display: inline-block;
}

.message-box {
  width: 100%;
  height: 100px;
}

.email-box {
  width: 100%;
}

.logo-text {
  font-size: 1em;
  font-weight: 700;
  color: #0E5077;
  height: 48px;
  line-height: 48px;
  margin: 0;
  padding: 0 16px;
  display: inline-block;
}

.menu {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li > a {
  text-decoration: none;
  color: #0E5077;
  padding: 0 14px;
  display: block;
  height: 48px;
}

.menu li > a:hover {
  color: #0E5077;
  border-bottom: 4px solid #0E5077;
}

.menu li.close {
  display: none;
  font-size: 36px;
  color: #646464;
  cursor: pointer;
}

.mobile-btn {
  display: none;
  float: right;
  cursor: pointer;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.main-nav {
  height: 48px;
  background-color: #FFF;
  line-height: 48px;
  padding: 0 16px;
}

.socialFacebook {
  height: 24px;
  width: 24px;
  background: url("../img/Facebook-g.svg") no-repeat;
  display: inline-block;
}

.socialGithub {
  height: 24px;
  width: 24px;
  background: url("../img/Github-g.svg") no-repeat;
  display: inline-block;
}

.socialTwitter {
    height: 24px;
    width: 24px;
    background: url("../img/Twitter-g.svg") no-repeat;
    display: inline-block;
}

.socialLinkedin {
  height: 24px;
  width: 24px;
  background: url("../img/Linkedin-g.svg") no-repeat;
  display: inline-block;
}

.socialFacebook:hover {
  background: url("../img/Facebook.svg") no-repeat;
}
.socialGithub:hover {
  background: url("../img/Github.svg") no-repeat;
}
.socialTwitter:hover {
  background: url("../img/Twitter.svg") no-repeat;
}
.socialLinkedin:hover {
  background: url("../img/Linkedin.svg") no-repeat;
}

/* This media query hides the horizontal menu and makes the mobile menu button visible. */
@media (max-width: 700px) {

  .projects {
    flex-direction: column;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: #FFF;
    width: 300px;
    height: 100%;
    z-index: 3;
    transform: translateX(300px);
    border-left: 1px solid #e5e5e5;
  }

  .menu.open {
    display: block;
    transform: translateX(0);
  }

  .menu li {
    display: block;
    padding: 0 14px;
  }

  .menu li > a {
    border: none;
  }

  .menu li > a:hover {
    border: none;
  }

  .menu li.close {
    display: block;
    text-align: right;
  }

  .mobile-btn {
    display: inline-block;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
  }

  .overlay.open {
    z-index: 1;
    opacity: 1;
  }

  .contactContainer {
    padding: 10% 10% 10% 10%;
  }
}

/* This media query changes the menu and styles for tablet landscape and desktop.  */
@media only screen and (min-width: 700px) {

  .imageMatt {
    width: 20%;
    margin-bottom: 5%;
  }

  .introContainer {
      padding: 3% 5% 5% 5%;
  }

  .introContainer h1 {
    font-size: 3em;
    margin: 0;
  }

  .blueContainer {
    padding: 5% 15% 5% 15%;
  }

  .socialFacebook {
    height: 36px;
    width: 36px;
  }

  .socialGithub {
    height: 36px;
    width: 36px;
  }

  .socialTwitter {
      height: 36px;
      width: 36px;
  }

  .socialLinkedin {
    height: 36px;
    width: 36px;
  }

  .socialFacebook:hover {
    animation: move .4s infinite alternate;
  }

  .socialGithub:hover {
    animation: move .4s infinite alternate;
  }

  .socialLinkedin:hover {
    animation: move .4s infinite alternate;
  }

  .socialTwitter:hover {
    animation: move .4s infinite alternate;
  }

  @keyframes move {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(3px);
    }
  }
}

/* This media query keeps us looking good on really big screens. */
@media only screen and (min-width: 1024px) {

  .container {
    width: 80%;
  }
}
