html, body{
  width:100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

p {
  font-size: 0.8em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: #0E5077;
  font-size: 0.9em;
  line-height: 1.4em;
}

h2 {
  color: #fff;
  font-size: 1.1em;
}

h3 {
  color: #52AADE;
  font-size: 1em;
}

h4 {
  color: #52AADE;
  font-size: 0.6em;
}

header {
  display: flex;
  justify-content: space-between;
}

.projects h2 {
  color: #0E5077;
  font-size: 1.1em;
}

.container {
  padding: 0;
  width: 100%;
  text-align: center;
}

.introContainer {
  padding: 15% 25% 15% 25%;
}

.introContainer li {
  display: inline;
}

.introContainer img {
  border-radius: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.whiteContainer {
  padding: 15% 5% 15% 5%;
  color: #0E5077;
  background: #ffffff;
}

.blueContainer {
  padding: 15% 5% 15% 5%;
  color: #ffffff;
  background: #0E5077;
  transform: skewY(3deg);
}

.about {
  transform: skewY(-3deg);
}

.blueContainer h5 {
  transform: skewY(-3deg);
}

.logoText {
 font-size: 48px;
 font-weight: 700;
 color: #0E5077;
 margin-top: 10px;
 margin-left: 15px;
}

.exitButton {}
.hideDesktop {}
.showDesktop {}

.hideMobile {
  display: none;
}

.menu {
  width: 64px;
  margin-top: 15px;
  margin-right: 15px;
}

.socialFacebook {
  height: 76px;
  width: 76px;
  background: url("../img/Facebook-g.svg") no-repeat;
  display: inline-block;
}

.socialGithub {
  height: 76px;
  width: 76px;
  background: url("../img/Github-g.svg") no-repeat;
  display: inline-block;
}

.socialTwitter {
    height: 76px;
    width: 76px;
    background: url("../img/Twitter-g.svg") no-repeat;
    display: inline-block;
}

.socialLinkedin {
  height: 76px;
  width: 76px;
  background: url("../img/Linkedin-g.svg") no-repeat;
  display: inline-block;
}

.socialFacebook:hover {
  background: url("../img/Facebook.svg") no-repeat;
}
.socialGithub:hover {
  background: url("../img/Github.svg") no-repeat;
}
.socialTwitter:hover {
  background: url("../img/Twitter.svg") no-repeat;
}
.socialLinkedin:hover {
  background: url("../img/Linkedin.svg") no-repeat;
}
