html, body{
  width:100%;
  overflow-x: hidden; // Dev Tools proper display fix
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

p {
  font-size: 0.8em;
  line-height: 1.2em;
  margin: 2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: #0E5077;
  font-size: 1.1em;
  line-height: 1.4em;
}

h2 {
  color: #fff;
  font-size: 1.1em;
}

h3 {
  color: #52AADE;
  font-size: 1em;
  margin-bottom: 0;
}

h4 {
  color: #52AADE;
  font-size: 0.6em;
  margin-top: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.projects h2 {
  color: #0E5077;
  font-size: 1.1em;
}

nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background: #E5E5E5;
  height: 100%;
  z-index: 7;
  padding-top: 1em;
}

nav ul li a {
  font-size: .8em;
  font-weight: bold;
  color: #454545;
  text-decoration: none;
  float: left;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background-color: #CFCFCF;
}

nav ul li a:hover {
  background-color: #A7A7A7;
}

nav ul li:first-child {
  margin-bottom: 1em;
}

.exitButton {
  float: right;
  margin-right: 15px;
}

.exitButton img {
  width: 24px;
}

.container {
  padding: 0;
  width: 100%;
  text-align: center;
}

.introContainer {
  padding: 10% 20% 15% 20%;
}

.introContainer li {
  display: inline;
}

.imageMatt {
  width: 50%;
  border-radius: 20% 50%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.whiteContainer {
  padding: 15% 5% 15% 5%;
  color: #0E5077;
  background: #ffffff;
}

.blueContainer {
  padding: 10% 5% 10% 5%;
  border-radius: 0% 5%;
  color: #ffffff;
  background: #0E5077;
  transform: skewY(3deg);
}

.footerContainer {
  padding: 15% 5% 15% 5%;
  color: #ffffff;
  background: #0E5077;
}

.about {
  transform: skewY(-3deg);
}

.blueContainer h5 {
  transform: skewY(-3deg);
}

.logoText {
 font-size: 1em;
 font-weight: 700;
 color: #0E5077;
 margin-top: 1em;
 margin-left: 15px;
}

.exitButton {}
.hideDesktop {}
.showDesktop {}

.hideMobile {
  display: none;
}

.menu {
  width: 24px;
  margin-top: 1em;
  margin-right: 15px;
}

.socialFacebook {
  height: 24px;
  width: 24px;
  background: url("../img/Facebook-g.svg") no-repeat;
  display: inline-block;
}

.socialGithub {
  height: 24px;
  width: 24px;
  background: url("../img/Github-g.svg") no-repeat;
  display: inline-block;
}

.socialTwitter {
    height: 24px;
    width: 24px;
    background: url("../img/Twitter-g.svg") no-repeat;
    display: inline-block;
}

.socialLinkedin {
  height: 24px;
  width: 24px;
  background: url("../img/Linkedin-g.svg") no-repeat;
  display: inline-block;
}

.socialFacebook:hover {
  background: url("../img/Facebook.svg") no-repeat;
}
.socialGithub:hover {
  background: url("../img/Github.svg") no-repeat;
}
.socialTwitter:hover {
  background: url("../img/Twitter.svg") no-repeat;
}
.socialLinkedin:hover {
  background: url("../img/Linkedin.svg") no-repeat;
}

@media only screen and (min-width: 650px) {

  .imageMatt {
    width: 20%;
    margin-bottom: 5%;
  }

  .introContainer {
      padding: 10% 5% 15% 5%;
  }

  .introContainer h1 {
    font-size: 3em;
    margin: 0;
  }

  .socialFacebook {
    height: 36px;
    width: 36px;
  }

  .socialGithub {
    height: 36px;
    width: 36px;
  }

  .socialTwitter {
      height: 36px;
      width: 36px;
  }

  .socialLinkedin {
    height: 36px;
    width: 36px;
  }

  h2 {
    font-size: 2em;
  }

  .projects h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
    margin-top: 2em;
  }

  h4 {
    font-size: 1em;
    margin-bottom: 4em;
  }
}
