html, body{
  width:100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

p {
  font-size: 0.8em;
  line-height: 1.2em;
  margin: 2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: #0E5077;
  font-size: 1.1em;
  line-height: 1.4em;
}

h2 {
  color: #fff;
  font-size: 1.1em;
}

h3 {
  color: #52AADE;
  font-size: 1em;
  margin-bottom: 0;
}

h4 {
  color: #52AADE;
  font-size: 0.6em;
  margin-top: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.projects h2 {
  color: #0E5077;
  font-size: 1.1em;
}

.container {
  padding: 0;
  width: 100%;
  margin: auto;
  text-align: center;
}

.introContainer {
  padding: 10% 20% 15% 20%;
}

.introContainer li {
  display: inline;
}

.imageMatt {
  width: 50%;
  border-radius: 20% 50%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.whiteContainer {
  padding: 15% 5% 15% 5%;
  color: #0E5077;
  background: #ffffff;
}

.blueContainer {
  padding: 10% 5% 10% 5%;
  border-radius: 0% 5%;
  color: #ffffff;
  background: #0E5077;
  transform: skewY(3deg);
}

.footerContainer {
  padding: 5% 5% 5% 5%;
  color: #ffffff;
  background: #0E5077;
}

.about {
  transform: skewY(-3deg);
}

.blueContainer h5 {
  transform: skewY(-3deg);
}

.logo-text {
 font-size: 1em;
 font-weight: 700;
 color: #0E5077;
height: 48px;
line-height: 48px;
margin: 0;
padding: 0 16px;
display: inline-block;
}

.socialFacebook {
  height: 24px;
  width: 24px;
  background: url("../img/Facebook-g.svg") no-repeat;
  display: inline-block;
}

.socialGithub {
  height: 24px;
  width: 24px;
  background: url("../img/Github-g.svg") no-repeat;
  display: inline-block;
}

.socialTwitter {
    height: 24px;
    width: 24px;
    background: url("../img/Twitter-g.svg") no-repeat;
    display: inline-block;
}

.socialLinkedin {
  height: 24px;
  width: 24px;
  background: url("../img/Linkedin-g.svg") no-repeat;
  display: inline-block;
}

.socialFacebook:hover {
  background: url("../img/Facebook.svg") no-repeat;
}
.socialGithub:hover {
  background: url("../img/Github.svg") no-repeat;
}
.socialTwitter:hover {
  background: url("../img/Twitter.svg") no-repeat;
}
.socialLinkedin:hover {
  background: url("../img/Linkedin.svg") no-repeat;
}

.main-nav {
  height: 48px;
  background-color: #FFF;
  line-height: 48px;
  padding: 0 16px;
}

.menu {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li > a {
  text-decoration: none;
  color: #0E5077;
  padding: 0 14px;
  display: block;
  height: 48px;
}

.menu li > a:hover {
  color: #52AADE;
  border-bottom: 4px solid #52AADE;
}

.menu li.close {
  display: none;
  font-size: 36px;
  color: #646464;
  cursor: pointer;
}

.mobile-btn {
  display: none;
  float: right;
  cursor: pointer;
}

/*
This media query hides the horizontal menu and makes the mobile menu button visible
Play around with the max-width for a width that best fits your design
*/
@media (max-width: 650px) {
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: #FFF;
    width: 300px;
    height: 100%;
    z-index: -1;
    transform: translateX(300px);
  }

  .menu.open {
    display: block;
    z-index: 3;
    transform: translateX(0);
  }

  .menu li {
    display: block;
    padding: 0 14px;
    border-bottom: 1px solid #e5e5e5;
  }

  .menu li > a {
    border: none;
  }

  .menu li > a:hover {
    border: none;
  }

  .menu li.close {
    display: block;
    text-align: right;
  }

  .mobile-btn {
    display: inline-block;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    z-index: -1;
    transition: opacity 100ms linear;
  }

  .overlay.open {
    z-index: 1;
    opacity: 1;
  }
}


/*
This media query......................................................................
*/
@media only screen and (min-width: 650px) {

  .imageMatt {
    width: 20%;
    margin-bottom: 5%;
  }

  .introContainer {
      padding: 3% 5% 5% 5%;
  }

  .introContainer h1 {
    font-size: 3em;
    margin: 0;
  }

  .blueContainer {
    padding: 5% 15% 5% 15%;
  }

  .whiteContainer {
    padding: 5% 15% 10% 15%;
  }

  .socialFacebook {
    height: 36px;
    width: 36px;
  }

  .socialGithub {
    height: 36px;
    width: 36px;
  }

  .socialTwitter {
      height: 36px;
      width: 36px;
  }

  .socialLinkedin {
    height: 36px;
    width: 36px;
  }

  h2 {
    font-size: 2em;
  }

  .projects h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
    margin-top: 2em;
  }

  h4 {
    font-size: 1em;
    margin-bottom: 4em;
  }

  .socialFacebook:hover {
    animation: move .4s infinite alternate;
  }

  .socialGithub:hover {
    animation: move .4s infinite alternate;
  }

  .socialLinkedin:hover {
    animation: move .4s infinite alternate;
  }

  .socialTwitter:hover {
    animation: move .4s infinite alternate;
  }

  @keyframes move {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(3px);
    }
  }
}


/*
This media query......................................................................
*/
@media only screen and (min-width: 1024px) {

  .container {
    width: 80%;
  }
}
